<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>cdc</string>
	<key>CFBundleGetInfoString</key>
	<string>CDCECMDriver_MacV1.1.3, CDC ECM Driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.zte.driver.cdc_usb_bus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cdc</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.3</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CDCVendorZTE_0017</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>23</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0019</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>25</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0021</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>33</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0031</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>49</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0037</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>55</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0104</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>260</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0113</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>275</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0121</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>289</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0123</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>291</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0130</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>304</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0133</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>307</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0157</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>343</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0158</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>344</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0326</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>806</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_0416</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>1046</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1008</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4104</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1010</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4112</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1018</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4120</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1021</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4129</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1247</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4679</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1252</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4690</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1254</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4692</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1255-3</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4693</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1255-4</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4693</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1256</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4694</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1259</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4697</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1261</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4705</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1266</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4710</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1268</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4712</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1269</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4713</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1270</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>4720</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1401</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>5121</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1402</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>5122</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1424</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>5156</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1425</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>5157</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1427</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>5159</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
		<key>CDCVendorZTE_1428</key>
		<dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_usb_bus</string>
			<key>idProduct</key>
			<integer>5160</integer>
			<key>idVendor</key>
			<integer>6610</integer>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_usb_bus</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1.3</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
