<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>cdc_ecm_qmi</string>
	<key>CFBundleGetInfoString</key>
	<string>CDCECMDriver_MacV1.1.3, CDC ECM Driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.zte.driver.cdc_ecm_qmi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.3</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CDCECMVendorZTE_0017</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>23</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0019</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>25</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0021</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>33</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0031</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>49</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0037</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>55</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0104</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>260</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0113</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>5</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>275</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0121</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>5</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>289</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0123</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>291</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0130</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>1</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>304</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0133</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>307</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0157</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>5</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>343</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0158</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>344</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0326</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>806</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_0416</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>0</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>1046</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1008</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4104</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1010</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4112</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1018</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4120</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1021</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4129</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1247</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4679</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1252</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4690</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1254</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4692</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1255-3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4693</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1255-4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4693</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.1</string>
		</dict>
		<key>CDCECMVendorZTE_1256</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4694</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1259</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4697</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1261</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>3</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4705</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1266</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>5</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4710</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1268</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4712</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1269</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>4</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4713</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1270</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>5</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>4720</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1401</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>5121</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1402</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>5122</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1424</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>5156</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1425</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>5157</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1427</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>5159</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
		<key>CDCECMVendorZTE_1428</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zte.driver.cdc_ecm_qmi</string>
			<key>IOClass</key>
			<string>com_zte_driver_cdc_ecm_qmi</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>com_zte_driver_bus</string>
			<key>IOUserClientClass</key>
			<string>com_zte_driver_qmi_user_client</string>
			<key>jCommInterfaceNumber</key>
			<integer>2</integer>
			<key>jECMIdleTime</key>
			<integer>0</integer>
			<key>jUSBProductID</key>
			<integer>5160</integer>
			<key>jUSBVendorID</key>
			<integer>6610</integer>
			<key>ZPortNameValue</key>
			<string>ecm.0</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.zte.driver.cdc_usb_bus</key>
		<string>1.1.3</string>
	</dict>
</dict>
</plist>
